body, html {
    height: 100%;
    margin: 0;
  }
  
.nva-serach{
    padding-left: 40%;

}
.nva-pd-left{
    font-family: 'Battambang', cursive;
}
.fruit-picture{
    padding-top: 20px;
    height: 250px;
}
.fruit-pictur{
    padding-top: 30px;
    height: 250px;
    width: 345px;
}
.logo{
    text-align: center;
    padding-top: 10px;
}
hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.size{
    font-size: 25px;
}
